.para {
    color: black;
}

.image {
    width: 50px;
}

#img-fluid {
    height: 260px;
}

#img-fluid2 {
    width: 100%;
    height: 260px;
}

.span {
    color: red; 
    font-size: 20px;
}

.span2 {
    margin-left: 62px;
}

#box {
    display: grid;
    gap: 20px;
}

.box2 {
    display: flex;
}

.box3:hover h6 {
    color: rgb(128, 128, 236);
}

#grid {
    display: grid;
    gap: 5px;
}

#title-w3l:hover {
    color: rgb(128, 128, 236);
}

#content {
    background: url(../images/images2/vc_banner_new.jpg) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    overflow: hidden;
}

.bottom-copies {
    background: url(../images/images2/social_bg.png) no-repeat center;
    -ms-background-size: cover;
    background-size: cover;
    width: 100%;
}

#image2 {
    margin-left: 175px;
}

.fa-solid {
    font-size: 70px;
    color: #ffc107;
}

.title-subw3hny {
    color: red;
}

#title-subw3hny {
    color: red;
}

.link {
    color: black;
}

#space {
    display: flex;
}

@media (max-width: 768px) {
    #logo {
        width: 100px;
    }

    .banner-info h3.title {
        font-size: 20px;
    }

    .banner-info h5 {
        font-size: 15px;
    }

    .box2 {
        display: grid;
    }

    #image2 {
        margin-left: 70px;
        width: 250px;
    }
}